

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Downloads</title>
    </head>

    <body>
        <form id="package_form" action="" method="post">
            <div class="panel-body">
                <input type ="submit" name="action" value="Report 1">
            </div>
            <div class="panel-body">
                <input type ="submit" name="action" value="Report 2">
            </div>
            <div class="panel-body">
                <input type ="submit" name="action" value="Get data">
            </div>
      
       </form>
    </body>
</html>
