{% extends "home.html" %}

{% block content %}
<h1>Report</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    Download the CSV report : Number of commits made by each author, sorted by total number of commits
    </br>
    <p>{{ form.submit() }}</p>
</form>
<canvas id="chart" width="600" height="400"></canvas>
<script>
    var pieData = [
        {% for value, label, color in set %}
    {
        value: { { value } },
        label: "{{label}}",
            color: "{{color}}"
    },
    {% endfor %}
      ];

    var ctx = document.getElementById("chart").getContext("2d");
    var options = {
        //Boolean - Whether we should show a stroke on each segment
        // set to false to hide the space/line between segments
        segmentShowStroke: true
    };

    // For a pie chart
    var pieChart = new Chart(ctx).Pie(pieData, options);

</script>
{% endblock %}