<!DOCTYPE html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Reports</title>
      {% else %}
      <title>Welcome to the Reports</title>
      {% endif %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    </head>
    <body>
        <div> 
            <a href="/reports/authors_commits">Authors Report</a>
            <a href="/reports/dates_commits">Dates Report</a>
            <a href="/reports/daily_commits">Daily Commits</a>
            <a href="/reports/week_days_commits">Week Days Commits</a>
        </div>
            <form action="" method="post" novalidate>
                {{ dataForm.hidden_tag() }}
                <p>{{ dataForm.get_data() }}</p>
            </form>
        <hr>
        {% block content %}{% endblock %}
        <canvas id="myChart" width="200" height="200"></canvas>
<script>
        //create chart
        
    </body>
</html>


